body {
    font-family: Helvetica, Arial, sans-serif;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
    font-size: 30px;
}

/*textarea {
	display: block;
}
*/

/*.my_textarea {
	display: block;
}
*/